@model SolarOpt.Libraries.SolarPredicter.PowerData


<h2>Energy Estimates</h2>
<table class="table table-striped">
    <tr>
        <td>Weather for @Model.City :</td>
        <td>@Model.CurrentWeather</td>
    </tr>
    <tr>
        <td>Weather Type:</td>
        <td><img src="@Model.UrlForIcon"/></td>
    </tr>
    <tr>
        <td>Predicted Current Power Generation (watts): </td>
        <td>@Model.CurrentPower</td>
    </tr>
    <tr>
        <td>Predicted Daily Power Generation (watt/hours): </td>
        <td>@Model.DailyPower</td>
    </tr>

</table>
<h2>Solar Panel Position:</h2>
<canvas id="angleH"></canvas>

<script src="~/js/Chart.js"></script>
<script>
    var hs = [];
    @foreach (var h in Model.AngleH)
    {
        @:hs.push(@h);
    }

    var as = [];
    @foreach (var a in Model.AngleA)
    {
        @:as.push(@a);
    }

    var times = [];
    @foreach (var t in Model.Times)
    {
        @:times.push("@t.ToShortTimeString()");
    }
    console.log(as);
    console.log(hs);
    console.log(times);

    var angleH = new Chart(document.getElementById("angleH"), {
        type: 'line',
        data: {
            labels: times,
            datasets: [{
                data: hs,
                label: "Servo Angle (Solar Elevation)",
                borderColor: "#3e95cd",
                fill: false
            },
            {
                data: as,
                label: "Base Angle (Angle From North)",
                borderColor: "#c45000",
                fill: false
            }
            ]
        },
        options: {
            title: {
                display: true,
                text: 'Predicted Power'
            },
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Angle Degrees'
                    }
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Time'
                    }
                }],
            }
        }
    });




</script>


